<!DOCTYPE html>
<html lang="en" ng-app="HangmanApp" ng-controller="GameController">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=DotGothic16&display=swap" rel="stylesheet"> 
    
    <title>Hangman app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>

<div class="container">
    <h1>Hangman Puzzle</h1>
    <div class="guesses-left">
        Guesses left: {{guesses}}
    </div>
    <div class="incorrect-guesses">
        Incorrect: 
        <span ng-repeat="letter in incorrectLettersChosen">
            {{letter}}
        </span>
    </div>
    <div class="correct-guesses">
        Correct:
        <span ng-repeat="letter in correctLettersChosen">
            {{letter}}
        </span>
    </div>

    <div class="word-to-guess" >That's the word you have to guess: {{displayWord}}</div>

    <div class="user-attempt">Type your guess below!</div>

    <div class="submit">
        <input type="text" name="guess" ng-model="input.letter"  placeholder="type here!">
        <button class="btn" ng-click="letterChosen()">Submit</button>
    </div>
</div>
</body>
</html>