<!DOCTYPE html>
<html lang="en" ng-app="HangmanApp" ng-controller="GameController">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div>
        Guesses left: {{guesses}}
    </div>
    <div>
        Incorrect guesses: 
        <span ng-repeat="letter in incorrectLettersChosen">
            {{letter}}
        </span>
    </div>
    <div>
        Correct guesses: 
        <span ng-repeat="letter in correctLettersChosen">
            {{letter}}
        </span>
    </div>

    <div>You have to guess: {{displayWord}}</div>


    <div>
        <div>
            <input type="text" name="guess" ng-model="input.letter">
            <button ng-click="letterChosen()">Submit</button>
        </div>
    </div>

</body>
</html>