/* CSS HEX
--flame: #e4572eff;
--space-cadet: #29335cff;
--marigold: #f3a712ff;
--olivine: #a8c686ff;
--air-superiority-blue: #669bbcff; */

* {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(198, 190, 136);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

body {
    font-family: 'DotGothic16', sans-serif;
    font-size: 2rem;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 3rem;
    color: #29335cff;
    padding: 0.25rem
}

.img-hangman img {
    max-width:20px;
    max-height:50px;
}

.guesses-left, .incorrect-guesses, .correct-guesses {
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.word-to-guess {
    margin-top: 1.5rem;
    margin-bottom: 0.875rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.user-attempt {
    font-size: 1.8rem;
    margin-bottom: 0.7em;
}

.submit input {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    font-size: 1rem;
    background-color: #669bbcff;
    border: none;
    height: 2rem;
    width: 5.1rem;
    display: block;
    align-items: center;
    border-radius: 10%;
    margin-left: 0.5rem;
}

.btn {
    height: 3rem;
    width: 6rem;
   margin-top: 2rem;
   font-size: 1.2rem; 
   border: none;
   text-align: center;
   font-family: 'DotGothic16', sans-serif;
   border-radius: 0.8rem;
   letter-spacing: 0.15rem;
}

.btn:hover {
    transition-duration: 1s;
    background-color: rgb(226, 117, 83);
}

@keyframes fa-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.fa-blink {
  -webkit-animation: fa-blink .99s linear infinite;
  -moz-animation: fa-blink .99s linear infinite;
  -ms-animation: fa-blink .99s linear infinite;
  -o-animation: fa-blink .99s linear infinite;
  animation: fa-blink .99s linear infinite;
}